---
import { Picture } from 'astro:assets';
import { getCollection } from 'astro:content';

import FancyImage from '../components/FancyImage.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import Socials from '../components/Socials.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import Milestone from '../components/Milestone.astro';
import signature from '../images/pages/signature.png';
import mainImage from '../images/pages/view.jpg';

import og from '../images/og/index.jpg';

let posts = await getCollection('posts');
posts = posts.filter(
	(post) => post.data.type === 'post' || post.data.type === 'essay'
);
posts.sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const latestPostSlug = posts[0].slug;

const milestones = await getCollection('milestones');
const featuredMilestones = milestones.filter(
	(milestone) => milestone.data.isFeatured
);
featuredMilestones.sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const latestFeaturedMilestone = featuredMilestones[0];

const title = 'Curious. Creative. Coder.';
---

<BaseLayout title={title} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer data-hover-group>
			<HeaderTitle>
				<h1>
					<span data-hover-word="curious">Curious. </span><span
						data-hover-word="creative"
						>Creative.
					</span><span data-hover-word="coder">Coder.</span>
				</h1>
			</HeaderTitle>

			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">That’s me, Dominik :)</p>
				<p>
					<span data-hover-word="curious"
						>I like to learn <span class="font-serif italic">&</span> understand
						more about the world we live in.</span
					>
					<span data-hover-word="creative">
						While coming up with cool ideas <span class="font-serif italic"
							>&</span
						> designing beautiful things.
					</span>
					<span data-hover-word="coder">
						And bringing them to life with fancy symbols.
					</span>
				</p>
				<p>
					That’s me in 10 seconds. If that peaked your interest, you can find
					the extended edition of my personal profile over at <a href="/about"
						>/about</a
					>.
				</p>
			</div>
			<div class="md:-mx-16">
				<FancyImage
					image={mainImage}
					alt="B&W picture of me looking at Lyon."
					className="aspect-[1.85/1]"
					displayName="view.jpg"
					location="Lyon, FR"
				/>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Where to reach me">
			<p>
				Wanna share an idea, show me your project, talk about everything under
				the sun, or just say hi? You can reach me on <a
					href="https://bsky.app/profile/dominikhofer.me"
					target="_blank"
					rel="noopener">Bluesky</a
				> or via <a href="/hi" target="_blank" rel="noopener">email</a>.
			</p>
			<p>Looking forward to your message, I reply to all of them ✌️</p>
			<Socials />
		</SectionMarginTitle>
		<SectionMarginTitle title="What I do">
			<p>
				I craft things with code and try to create more analog stuff. A more
				accurate description of my current endeavours is listed over at <a
					href="/now">/now</a
				>.
			</p>
			<p>Here’s a recent project I am proud of:</p>
			<div class="py-4">
				<Milestone milestone={latestFeaturedMilestone} />
			</div>
			<p>
				You can find a list of my past creative projects over on <a
					href="/about/projects#timeline">/about/projects</a
				>.
			</p>
			<p>
				And since touching grass is also important from time to time, I’m an
				avid <a href="/races">runner</a> as well.
			</p>
		</SectionMarginTitle>
		<SectionMarginTitle title="What you can do on this website">
			<div class="prose prose-li:first:mt-0">
				<ul>
					<li>
						Read my latest blog post: <a href={`/${latestPostSlug}`}
							>/{latestPostSlug}</a
						>
					</li>
					<li>
						Scroll through my digital photo album: <a href="/photos">/photos</a>
					</li>
					<li>
						Take a look at some fleeting thoughts: <a
							href="/posts/notes#archive">/posts/notes</a
						>
					</li>
					<li>
						Find something new to read: <a href="/blogroll">/blogroll</a>
					</li>
					<li>
						Check out the latest races I ran: <a href="/races">/races</a>
					</li>
					<li>
						Or again, simply <a href="/hi" target="_blank" rel="noopener"
							>say hi</a
						> :)
					</li>
				</ul>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle>
			<p>Have a wonderful day, week, month, year!</p>
			<p>Cheers,</p>
			<Picture src={signature} alt="Dominik's Signature" class="w-48" />
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>

<style>
	[data-hover-word] {
		transition: all 0.3s ease-out 0s;
	}

	[data-hover-group]:has([data-hover-word]:hover) [data-hover-word] {
		opacity: 0.25;
	}

	[data-hover-group]:has([data-hover-word='curious']:hover)
		[data-hover-word='curious'],
	[data-hover-group]:has([data-hover-word='creative']:hover)
		[data-hover-word='creative'],
	[data-hover-group]:has([data-hover-word='coder']:hover)
		[data-hover-word='coder'] {
		opacity: 1;
	}
</style>
