---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import HeaderContainer from '../components/HeaderContainer.astro';
import MainContainer from '../components/MainContainer.astro';
import FancyImage from '../components/FancyImage.astro';

let pics = await getCollection('pics');
pics.sort(
	(a, b) => new Date(b.data.date!).getTime() - new Date(a.data.date!).getTime()
);

const title = 'My world through a lens.';

const description =
	'I love documenting my life & the world around me with my cameras. These are some of my favorite shots.';
---

<BaseLayout title={title} description={description}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>My world through a lens.</h1>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					I love documenting my life & the world around me with my cameras.
					These are some of my favorite shots.
				</p>
				<p>
					All pictures are shot on my <a
						href="https://www.ricoh-imaging.co.jp/english/products/gr-3/"
						target="_blank">Ricoh GR IIIx</a
					> or my <a
						href="https://youtu.be/FT3ODSg1GFE?si=WzyCVPbomnzytwDy"
						target="_blank">iPhone 14 Pro</a
					> and edited in
					<a href="https://www.pixelmator.com/photomator/" target="_blank"
						>Photomator</a
					>.
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<section class="main-grid scroll-mt-32">
			<div class="flex flex-col gap-4 margin-stretch">
				<div
					class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-y-16 max-w-full">
					{
						pics.map((pic) => (
							<FancyImage
								image={pic.data.visual}
								alt={pic.data.title}
								class="aspect-square"
								displayName={pic.data.title}
								location={pic.data.location!}
								date={pic.data.date!}
							/>
						))
					}
				</div>
			</div>
		</section>
	</MainContainer>
</BaseLayout>
