---
import { getCollection } from 'astro:content';

import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import SimpleTag from '../components/SimpleTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import og from '../images/og/races.jpg';

let races = await getCollection('races');
races.sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const title = 'Races & PBs';

const description = 'These are my recent race results & personal bests.';
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>Every stride counts.</h1>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					These are all my official races and personal bests since taking
					running more seriously in 2022.
				</p>
				<p>
					Looking for a great running playlist? <a
						href="https://hoferdo.link/esc"
						target="_blank"
						rel="noopener">Look no further</a
					>!
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Races">
			{
				races.map((race) => (
					<article class="flex flex-col gap-4 sm:p-6 p-3 border rounded-lg">
						<div class="flex flex-col items-start gap-2">
							<div class="flex flex-wrap items-center gap-2 select-none">
								<SimpleTag icon="calendar-month">
									{(() => {
										const d = new Date(race.data.date);
										const day = String(d.getDate()).padStart(2, '0');
										const month = String(d.getMonth() + 1).padStart(2, '0'); // Months are zero indexed
										const year = String(d.getFullYear()).slice(-2); // Get last 2 digits of year
										return `${day}.${month}.${year}`;
									})()}
								</SimpleTag>
								<span class="text-gray-500">&#183;</span>
								<SimpleTag icon="map-pin-2">{race.data.location}</SimpleTag>
							</div>
							<h3 class="text-lg font-medium">{race.data.title}</h3>
						</div>
						<div class="grid grid-cols-3 gap-1 sm:gap-4">
							<div class="flex flex-col items-center gap-1 sm:gap-2 py-4 px-2 bg-gray-50 rounded">
								<div class="sm:text-xl font-medium text-gray-950">
									{race.data.distance}km
								</div>
								<h4 class="text-sm font-mono font-normal sm:text-base text-gray-500">
									Distance
								</h4>
							</div>
							<div class="flex flex-col items-center gap-1 sm:gap-2 py-4 px-2 bg-gray-50 rounded">
								<div class="sm:text-xl font-medium text-gray-950">
									{race.data.time}
								</div>
								<h4 class="text-sm font-mono font-normal sm:text-base text-gray-500">
									Time
								</h4>
							</div>
							<div class="flex flex-col items-center gap-1 sm:gap-2 py-4 px-2 bg-gray-50 rounded">
								<div class="sm:text-xl font-medium text-gray-950">
									{race.data.pace}min/km
								</div>
								<h4 class="text-sm font-mono font-normal sm:text-base text-gray-500">
									Pace
								</h4>
							</div>
						</div>
					</article>
				))
			}
			<p class="font-mono text-sm text-gray-500">
				These are the official finisher times and might differ from my personal
				bests.
			</p>
		</SectionMarginTitle>
		<SectionMarginTitle title="Personal Bests">
			<div class="prose">
				<ul>
					<li class="mt-0">
						<span class="font-medium">5k:</span>
						21:18 (27.10.24)
					</li>
					<li><span class="font-medium">10k:</span> 43:43 (27.10.24)</li>
					<li><span class="font-medium">10 mile:</span> 1:19:13 (18.05.24)</li>
					<li>
						<span class="font-medium">Half Marathon:</span> 1:53:35 (11.05.24)
					</li>
					<li>
						<span class="font-medium">Longest Run:</span> 21.22km (11.05.24)
					</li>
				</ul>
				<p class="font-mono text-sm text-gray-500">
					These are tracked by myself and might differ from official race times.
				</p>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
