---
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import { format } from 'date-fns';
import SimpleTag from './SimpleTag.astro';

const { milestone, showImage } = Astro.props;

let formattedEndDate = '';

if (milestone.data.dateEnd) {
	formattedEndDate = format(new Date(milestone.data.dateEnd), 'MMMM yyyy');
}

let icon;

switch (milestone.data.type) {
	case 'personal':
		icon = 'heart';
		break;
	case 'cv':
		icon = 'clipboard-list';
		break;
	case 'project':
		icon = 'devices';
		break;
	default:
		icon = 'select-all';
}

if (milestone.data.isFeatured) {
	icon = 'sparkles';
}
---

<article class="flex flex-col gap-8 border rounded-lg">
	{
		showImage && milestone.data.visual && (
			<Picture
				src={milestone.data.visual}
				alt="Visual"
				class="block rounded-md"
			/>
		)
	}
	<div class="relative flex flex-col items-start gap-2 p-6 px-4 sm:px-6">
		<div class="absolute top-6 right-6 flex items-center gap-2">
			{
				milestone.data.isActive && (
					<div class="bg-emerald-50 text-emerald-500 rounded-full px-2 py-1 text-xs flex items-center gap-2">
						<span class="relative h-2 w-2 rounded-full bg-emerald-500 after:absolute after:top-0 after:left-0 after:w-full after:h-full after:origin-center after:rounded-full after:bg-emerald-500/75 after:animate-[ping_2s_ease-in-out_infinite]" />
						<span>Active</span>
					</div>
				)
			}
			{
				milestone.data.link && (
					<a
						href={milestone.data.link}
						target="_blank"
						rel="noopener"
						class="select-none text-gray-500 hover:text-gray-800">
						<Icon name="tabler:link" class="w-5 h-5" />
					</a>
				)
			}
		</div>
		<div class="flex flex-col gap-1">
			<div
				class="flex flex-col gap-2 sm:gap-0 sm:flex-row sm:items-baseline xl:pt-1">
				<Icon
					name=`tabler:${icon}`
					class:list={[
						'w-5 h-5 text-gray-500 flex-shrink-0 sm:self-center mr-2',
						{ 'text-yellow-500': milestone.data.isFeatured },
					]}
				/>
				<h3 class="h5 pr-24">{milestone.data.title}</h3>
			</div>
			<p>{milestone.data.shortDescription}</p>
		</div>
		<div class="flex flex-wrap items-center gap-2 mt-2 select-none">
			{
				milestone.data.company && (
					<SimpleTag icon="at">{milestone.data.company}</SimpleTag>
				)
			}
			{
				milestone.data.company && milestone.data.tags.length > 0 && (
					<span class="text-gray-500">&#183;</span>
				)
			}
			{
				milestone.data.tags.length > 0 && (
					<>
						{milestone.data.tags.map((tag: string) => (
							<SimpleTag icon="tag">{tag}</SimpleTag>
						))}
					</>
				)
			}
			{
				milestone.data.dateEnd && milestone.data.tags.length > 0 && (
					<span class="text-gray-500">&#183;</span>
				)
			}
			{
				milestone.data.dateEnd && (
					<>
						<SimpleTag icon="calendar-month">
							until {formattedEndDate}
						</SimpleTag>
					</>
				)
			}
		</div>
	</div>
</article>
