---
import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';

const { post, postFormat = 'post' } = Astro.props;
const { title, date, type, isFeatured } = post.data;
const slug = post.slug;

let icon;

switch (type) {
	case 'note':
		icon = 'note';
		break;
	case 'post':
		icon = 'article';
		break;
	case 'essay':
		icon = 'book';
		break;
	default:
		icon = 'note';
}

if (isFeatured) {
	icon = 'sparkles';
}

const formattedDate = format(new Date(date), 'MMMM do');
---

<article class="flex sm:flex-row sm:items-baseline xl:pt-1 gap-2">
	<Icon
		name=`tabler:${icon}`
		class:list={[
			'w-5 h-5 text-gray-500 flex-shrink-0 sm:self-center sm:-mt-1',
			{ 'text-yellow-500': isFeatured },
		]}
	/>
	<h2 class="h5 leading-none">
		<a
			href={`${postFormat === 'newsletter' ? '/newsletter' : ''}/${slug}`}
			class="no-underline">{title}</a
		>
	</h2>
	<div class="hidden sm:block h-px flex-1 bg-gray-200"></div>
	<time
		datetime={date}
		class="text-sm text-gray-500 font-mono ml-auto whitespace-nowrap"
		>{formattedDate}</time
	>
</article>
