---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import RssBanner from '../components/RssBanner.astro';
import BaseHead from './BaseHead.astro';

let { title, description, image, redirect, index, isArticle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image}
			redirect={redirect}
			index={index}
		/>
	</head>
	<body>
		<RssBanner />
		<Navbar />
		<div class="mt-36 mb-24">
			<slot name="header" />
		</div>
		{
			isArticle && (
				<article>
					<slot />
				</article>
			)
		}
		{
			!isArticle && (
				<main>
					<slot />
				</main>
			)
		}
		<Footer />
	</body>
</html>
